
.bottom-cloud {
  position: absolute;
  left: 10%;
  bottom: 300px;
}

.bottom-container {
  padding: 50px 0 20px;
  background-color: #66BFBF;
  color: #EAF6F6;
}

.contact-message {
  width: 40%;
  margin: 40px auto 50px;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro {
  width: 30%;
  margin:auto;
}

.middle-container {
  margin: 100px 0;
}

/*.contact-me {
  padding-top: 25px;
}*/

.btn {
  background-image: linear-gradient(#11CDD4,#11999E);
  padding: 10px 20px;
  border: solid #337FED 1px;
  border-radius: 8px;
  color: white;
  font-family: "Montserrat",sans-serif;
  text-decoration: none;
  display:inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-image: linear-gradient(#30E3CB,#2BC4AD);
}

.description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 50px;
}
.mountain-img {
  margin-top:40px;
}


/*.profile {
  padding: 50px;
}*/

/*.skills {
  padding-top: 50px;
  padding-bottom: 20px;
}*/

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
    top: 50px;
    right: 10%;
}

.top-container {
  padding-top: 150px;
  background-color: #E0EBE8;
  color: #45B29A;
  position: relative;
}

@media screen and (min-width: 480px) {
  .mountain-img {
    height: 50%;
    width: 50%;
  }
}

a {
  font: #11999E;
  font-family: "Montserrat",sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #EAF6F6;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 30px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}

hr {
  border-top: dotted 6px #EAF6F6;
  border-bottom: 0;
  width: 4%;
  margin: 100px auto;
}

p {
    line-height: 2;
}

.app_dev {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 3%;
}

.web_dev {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 3%;
}

.data_science {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 3%;
}
